.breadcrumb {
  position: relative;
  //left: -16px;
  //padding-left: 0;

  display: flex;
  height: 52px;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;

  span,
  a {
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 600;
    color: #585858;
  }

  .breadcrumb_last {
    color:black;
  }
}