.header {



    grid-area: header;
    //width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .title {
        font-size: 21px;
        span {
            display: block;
            font-size: 16px;
        }
    }

    .info {
        padding: 5px;
    }
}
