
$border-green:#008571;
$gradient-start-green: #008571;
$gradient-end-green: #00A98F;

$dark-blue: #1B4578;

$grey-1: #f7f7f7;
$grey-2: #D5D5D5;
$grey-3: #ABABAB;

$grey-5: #585858;

$blue: #296099;
$yellow : #E6E905;
