$font-path: "../fonts/lato";

@font-face {
  // This is parsed as a normal function call that takes a quoted string.
  src: url("#{$font-path}/Lato-Thin.ttf") format("ttf");

  font-family: "Lato";
  font-weight: 100;
}

@font-face {
  src: url($font-path + "/Lato-Light.ttf") format("ttf");

  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url($font-path + "/Lato-Regular.ttf") format("ttf");

  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url($font-path + "/Lato-SemiBold.ttf") format("ttf");

  font-family: "Lato";
  font-weight: 600;
}

@font-face {
  src: url($font-path + "/Lato-Bold.ttf") format("ttf");

  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url($font-path + "/Lato-ExtraBold.ttf") format("ttf");

  font-family: "Lato";
  font-weight: 800;
}
p,h1,h2,h3,h4,h5,h6,span,label,em
{
    font-family: "Lato", sans-serif;
}



h1 {
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
    color: black;

    span {
        color: $blue;
    }
}

h2,
h3,
h4,
h5{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 15px;
    color: $blue;
}

.text {
    margin: 0;
}

.text-center {
    text-align: center  ;
}
