/*general settings*/
#app {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "sidebar sidebar sidebar header header header" "sidebar sidebar sidebar article article article" "sidebar sidebar  sidebar footer footer footer ";
}

.logo img {
  width: 222px;
}

.flex {
  display: flex;
}
.flex .content {
  flex-direction: row;
}

@font-face {
  src: url("../fonts/lato/Lato-Thin.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 100;
}
@font-face {
  src: url("../fonts/lato/Lato-Light.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 300;
}
@font-face {
  src: url("../fonts/lato/Lato-Regular.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/lato/Lato-SemiBold.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 600;
}
@font-face {
  src: url("../fonts/lato/Lato-Bold.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 700;
}
@font-face {
  src: url("../fonts/lato/Lato-ExtraBold.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 800;
}
p, h1, h2, h3, h4, h5, h6, span, label, em {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 25px;
}

h2,
h3,
h4,
h5 {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  margin: 0;
}

.form {
  grid-area: form;
}

/*style for components*/
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header .title {
  font-size: 21px;
}
.header .title span {
  display: block;
  font-size: 16px;
}
.header .info {
  padding: 5px;
}

.sidebar {
  grid-area: sidebar;
  width: 300px;
  background: white;
}
.sidebar .container {
  position: fixed;
}
.sidebar .container ul {
  padding: 0;
  margin: 0;
}
.sidebar .container ul li {
  list-style-type: none;
}
.sidebar .container ul li .link {
  font-size: 16px;
  text-decoration: none;
}
.sidebar .container ul li .link:hover {
  text-decoration: underline;
}

.article {
  grid-area: article;
}
.article:before {
  content: "";
  display: block;
  background-image: url("../img/generator.webp");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.article section {
  margin: 30px 20px;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 30px;
}
.article section .content {
  padding: 10px;
}
.article .clients ul {
  padding: 0;
  margin: 0;
}
.article .clients ul li {
  list-style-type: none;
}
.article .gaurantee ul li {
  list-style-type: none;
}

.footer {
  grid-area: footer;
  position: relative;
}
.footer .copyright {
  text-align: center;
}

/*style for pages*/
