/*general settings*/
p, h1, h2, h3, h4, h5, h6, span, label, em {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 28px !important;
  line-height: 33px !important;
  font-weight: 700 !important;
}

h3, h5 {
  font-size: 24px !important;
  line-height: 28.8px !important;
}

.h3Big {
  font-size: 40px !important;
  line-height: 48px !important;
  margin-bottom: 0;
}

.hideMe {
  position: relative !important;
  top: 27px !important;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul, p {
  margin: 0;
  padding: 0;
}

ul li a, ol li a {
  text-decoration: none;
}

li, p, a {
  font-size: 16px;
  line-height: 19.2px;
}

em {
  font-style: normal;
}

body {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.grid {
  display: grid;
}

.btn {
  display: block;
}

.section_wrapper,
.container {
  max-width: 1440px !important;
}

#Content,
.home {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

@font-face {
  src: url("../fonts/lato/Lato-Thin.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 100;
}
@font-face {
  src: url("../fonts/lato/Lato-Light.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 300;
}
@font-face {
  src: url("../fonts/lato/Lato-Regular.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/lato/Lato-SemiBold.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 600;
}
@font-face {
  src: url("../fonts/lato/Lato-Bold.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 700;
}
@font-face {
  src: url("../fonts/lato/Lato-ExtraBold.ttf") format("ttf");
  font-family: "Lato";
  font-weight: 800;
}
/*style for components*/
/*style for pages*/
.servicesHome .scale-with-grid {
  top: 6px !important;
  position: relative;
  border-radius: 0px 0px 24px 24px;
}

.cust-home-services {
  border-radius: 39px;
  width: 100%;
  max-width: 410px;
}
.cust-home-services h3 {
  font-size: 24px;
  line-height: 32px;
  color: black;
  margin: 32px 0 16px 0px;
  min-height: 69px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.cust-home-services hr {
  display: none;
}

.one-fourth.column, .four.columns {
  padding-bottom: 25px;
}
